<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->

<nav id="menu">
	<ul class="actions vertical">
		<li><a href="{{ "" | absolute_url }}" class="button special fit">Portfolio</a></li>
	</ul>

	<ul class="links">
		{% assign sorted-projects = site.projects | reverse %}
		{% for project in sorted-projects %}
			<li><a href="{{ project.url | absolute_url }}">{{ project.title }}</a></li>
		{% endfor %}
	</ul>

</nav>
